/*  ==TELAS GRANDES == */

@media (min-width: 1600px) {
    body {
        background-position: 60vw 10vh;
    }
    header {
        padding: 14px 0;
    }
    .header-image img {
        width: 150px;
    }
    .header-links a {
        font-size: 20px;
    }
    .card {
        margin: 10vh auto;
    }
    .introduction {
        width: 600px;
    }
    .introduction h2 {
        font-size: 42px;
    }
    .introduction p {
        font-size: 24px;
    }
    .select-title {
        font-size: 20px;
    }
    select,
    input {
        padding: 8px;
        width: 250px;
        font-size: 16px;
    }
    button {
        padding: 14px;
        width: 250px;
    }
    .modal-content {
        width: 800px;
    }
    .selected-plan h3,
    .no-plan h3 {
        font-size: 24px;
    }
    .selected-plan p,
    .no-plan p {
        font-size: 36px;
        padding: 20px;
    }
    #modal a {
        padding: 16px;
        font-size: 24px;
    }
}


/*  == TABLET == */

@media (max-width: 1400px) {
    body {
        background-position: 50vw 16vh;
        background-size: 50%;
    }
}

@media (max-width: 1024px) {
    body {
        background-position: 55vw 20vh;
        background-size: 50%;
    }
    .card {
        margin: 5vh 10vw;
    }
    #modal a {
        margin-top: 30px;
        padding: 20px;
    }
}

@media (max-width: 780px) {
    body {
        background-image: none;
    }
    .header-links a {
        font-size: 26px;
    }
    .card {
        margin: 5vh auto;
    }
    .introduction {
        width: 700px;
        margin-left: 5px;
    }
    .introduction h2 {
        font-size: 42px;
    }
    .introduction p {
        margin-top: 16px;
        font-size: 32px;
    }
    .select-title {
        font-size: 32px;
    }
    select,
    input {
        padding: 14px;
        width: 350px;
        font-size: 16px;
    }
    button {
        padding: 24px;
        width: 350px;
        font-size: 24px;
    }
    #modal a {
        margin-top: 30px;
        padding: 20px;
    }
}


/*  == MOBILE == */

@media (max-width: 500px) {
    .header-image img {
        width: 0px;
    }
    .header-links a {
        font-size: 20px;
    }
    .card {
        margin: 5vh auto;
        width: 300px;
    }
    .introduction {
        width: 300px;
        margin-left: 5px;
    }
    .introduction h2 {
        font-size: 24px;
    }
    .introduction p {
        font-size: 16px;
    }
    .select-title {
        font-size: 16px;
    }
    select,
    input {
        padding: 8px;
        width: 350px;
    }
    button {
        padding: 16px;
        width: 250px;
    }
    .modal-content {
        width: 300px;
    }
    .selected-plan p,
    .no-plan p {
        font-size: 32px;
    }
    #modal a {
        padding: 14px;
        font-size: 12px;
    }
}

@media (max-width: 414px) {
    .header-image img {
        width: 0px;
    }
    .header-links a {
        margin-left: 5px;
        font-size: 14px;
    }
    .card {
        margin: 5vh auto;
    }
    .select-title {
        font-size: 16px;
    }
    select,
    input {
        padding: 4px;
        width: 250px;
    }
    button {
        width: 250px;
        padding: 4px;
    }
    .modal-content {
        width: 300px;
    }
    .selected-plan p,
    .no-plan p {
        font-size: 32px;
    }
    #modal a {
        padding: 20px;
        font-size: 14px;
    }
}