@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;700;900&display=swap");
:root {
  --primary-color: #ff4f5a;
  --secondary-color: #1b2e35;
  --text-blue: #2d326c;
  --dark-blue: #002f37;
  --bright-blue: #ace4ff;
  --text-blue: #114b8b;
  --select-grid: #56c1f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow: hidden;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: "Heebo", sans-serif;
  background-image: url(https://image.freepik.com/free-vector/video-call-concept-illustration_114360-1635.jpg);
  background-repeat: no-repeat;
  background-position: 60vw 5vh;
  background-size: 45%;
}

header {
  background-color: var(--primary-color);
  padding: 8px 0;
  width: 100vw;
}

.header-items {
  display: flex;
  margin: 0 auto;
  max-width: 940px;
  align-items: center;
  justify-content: center;
}

.header-image img {
  width: 100px;
}

.header-links {
  margin-top: 10px;
}

.header-links a {
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  margin-left: 16px;
  position: relative;
  transition: 400ms;
}

.header-links a::after {
  content: "";
  width: 0;
  height: 5px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.header-links a:hover::after {
  transition: width 500ms ease-in-out 1ms;
  width: 100%;
}
/*==CONTENT==*/

.card {
  width: 50%;
  margin: 5vh 20vw;
}

.introduction {
  width: 650px;
}

.introduction h2 {
  font-size: 32px;
  margin-bottom: 16px;
  color: var(-text-blue);
}

.introduction p {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-blue);
  margin-bottom: 32px;
}
/*==SELECT==*/

.select-grid {
  display: grid;
  grid-template-rows: 5fr;
  gap: 16px;
}

.select-title h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  color: black;
}

select,
input {
  padding: 8px 16px;
  width: 200px;
  border-radius: 8px;
  border: solid var(--select-grid) 1.5px;
  font-size: 12px;
  background-color: white;
}

button {
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  transition: 400ms;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--secondary-color);
}
/*==MODAL==*/

#not-possible-modal,
#modal {
  background-color: #bdbdbdc0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  transition: 400ms;
}

.modal-content {
  width: 600px;
  height: 80vh;
  margin: 10vh auto;
  background-color: white;
  border: solid 2px var(--primary-color);
  border-radius: 10px;
  grid-template-rows: 1fr 1fr 1fr;
}

.exit {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
}

.exit a {
  font-size: 20px;
  color: rgb(160, 157, 155);
}

.exit a:hover {
  color: red;
}

.modal-content p {
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: 500;
}
/*==MODAL WITH RESULT==*/

.comparison {
  display: grid;
  grid-template-rows: 1fr 0.5px 1fr;
  justify-content: center;
  text-align: center;
  gap: 30px;
  margin-top: 16px;
}

.selected-plan img,
.no-plan img {
  width: 12%;
}

.selected-plan h3,
.no-plan h3 {
  font-size: 30px;
  font-weight: 400;
  color: var(--text-blue);
  border-radius: 10px;
  margin-top: 5px;
}

.no-plan h3 {
  color: rgb(180, 13, 13);
}

.selected-plan p,
.no-plan p {
  font-size: 20px;
  color: black;
  font-weight: 300;
  margin-top: 5px;
}

.get-plan {
  justify-content: center;
  text-align: center;
}

.get-plan button {
  border-radius: 8px;
  margin-top: 5vh;
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  padding: 12px;
  transition: 400ms;
  text-transform: uppercase;
  width: 200px;
  border: none;
}

.get-plan button:hover {
  background-color: var(--secondary-color);
  border: none;
}

#modal.hide,
#not-possible-modal.hide {
  display: none;
}

/*  ==RESPONSIVIDADE == */
@media (max-width: 1300px) {
  header {
    padding: 4px 0;
  }

  .header-image img {
    width: 90px;
  }

  .header-links {
    margin-top: 5px;
  }

  /*==CONTENT==*/

  .card {
    width: 50%;
    margin: 5vh 15vw;
  }

  .introduction {
    width: 500px;
  }

  .introduction h2 {
    font-size: 24px;
  }

  .introduction p {
    font-size: 20px;
    margin-bottom: 16px;
  }
  /*==SELECT==*/

  .select-grid {
    gap: 10px;
  }
  select,
  input {
    padding: 4px 8px;
    font-size: 12px;
  }

  button {
    font-size: 14px;
  }

  /*==MODAL==*/
  #not-possible-modal,
  #modal {
    background-color: #bdbdbdc0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    transition: 400ms;
  }

  .modal-content {
    width: 600px;
    height: 90vh;
    margin: 5vh auto;
    background-color: white;
    border: solid 2px var(--primary-color);
    border-radius: 10px;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .modal-content p {
    font-size: 24px;
  }
  /*==MODAL WITH RESULT==*/

  .selected-plan h3,
  .no-plan h3 {
    font-size: 20px;
  }

  .selected-plan p,
  .no-plan p {
    font-size: 16px;
  }
  .selected-plan img,
  .no-plan img {
    width: 8%;
  }

  .get-plan button {
    margin-top: 3vh;
    font-size: 12px;
    padding: 8px 16px;
  }
}
/*  == Iphone 6,7,8 plus == */

@media (max-width: 414px) {
  body {
    background-image: none;
    overflow-y: visible;
  }
  .header-image img {
    width: 0px;
  }
  .header-links a {
    margin-left: 5px;
    font-size: 20px;
  }
  .card {
    width: 400px;
    margin: 5vh auto;
  }
  .introduction {
    margin-left: 10px;
    width: 100%;
  }
  .introduction h2 {
    font-size: 24px;
  }
  .introduction p {
    font-size: 20px;
  }
  .select-grid {
    justify-content: center;
    grid-gap: 10px;
  }
  .select-title h4 {
    font-size: 16px;
  }
  select,
  input {
    width: 250px;
    padding: 8px;
  }
  button {
    width: 250px;
    padding: 12px;
  }

  .modal-content {
    width: 400px;
    height: 90vh;
  }
  .exit {
    margin-right: 5px;
  }
  .exit a {
    font-size: 36px;
    color: red;
  }
  .modal-content p {
    font-size: 24px;
  }
  .selected-plan img,
  .no-plan img {
    width: 14%;
  }
  .selected-plan h3,
  .no-plan h3 {
    font-size: 28px;
  }
  .selected-plan p,
  .no-plan p {
    font-size: 24px;
  }
  .get-plan a {
    color: white;
    font-size: 24px;
    font-weight: 500;
  }
  .get-plan button {
    padding: 12px;
    border-radius: 8px;
    margin-top: 2vh;
  }
}
/*  == Iphone X == */

@media (max-width: 375px) {
  .card {
    width: 300px;
  }
  .modal-content {
    width: 370px;
    height: 65vh;
    margin: 20vh auto;
  }
  .exit {
    margin-right: 5px;
  }
  .exit a {
    font-size: 24px;
  }
  .modal-content p {
    font-size: 24px;
  }
  .selected-plan img,
  .no-plan img {
    width: 14%;
  }
  .selected-plan h3,
  .no-plan h3 {
    font-size: 24px;
  }
  .selected-plan p,
  .no-plan p {
    font-size: 20px;
  }
  .get-plan a {
    font-size: 20px;
  }
}
